<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>C2G</h1>
        <p class="lead">Vehicle Verification Platform</p>

        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

      </div>
    </div>
  </body>
</html>
